header {
    display: flex;
    background-color: #8ed6ff;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(18, 49, 105);
}

/* div {
    display: inline;
    height: 540px;
    text-align: center;
} */
#content {
    display: flex;
    height: 100px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;    
}

.enemyNumber {
    display: grid; 
    height: 60px;
    font-size: 60px;
    text-align: right;
}

#enemyHealth {
    
    height: 60px;
    font-size: 60px;
    color: red;
    text-align: right;
}

.playerNumber {
    display: grid;
    
    height: 60px;
    font-size: 60px;
    text-align: left;
}

#playerHealth {
    
    height: 60px;
    font-size: 60px;
    color: red;
}

#charSelect {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

img {
    
    height: 200px;
    
}

#enemyimage {
   height: 300px;
}



footer{
    background-color:  #8ed6ff;
    display: flex;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    
}

button{ 
    height: 110px;
    width: 110px;
    font-size: 20px;
    background-color: blanchedalmond;
    border-radius: 12px;
}
