header {
    display: flex;
    background-color: bisque;
    height: 80px;
    justify-content: center;
    align-items: center;
}

/* div {
    display: inline;
    height: 540px;
    text-align: center;
} */
#content {
    height: 80px;
    font-size: 30px;
    text-align: center;
}

#enemyNumber {
    height: 240px;
    font-size: 80px;
    text-align: right;
}

#playerNumber {
    height: 240px;
    font-size: 80px;
    text-align: left;
}

footer{
    background-color: aqua;
    display: flex;
    height: 180px;
    justify-content: space-around;
    align-items: center;
    
}

button{ 
    height: 140px;
    width: 140px;
}


